.Footer {
    display: flex;
    position: absolute; 
    left: 0%;
    bottom: 0;
    width: 100%;
    background-color: rgb(5, 252, 169);
}
.Footer ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 15px auto;
}
.Footer li{
    margin: auto;
}