.Post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 5px;
}
.Post h2, .Post p {
    margin: 5px;
}
.Post img {
    max-width: 300px;
}
.ButtonContainer{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.ButtonContainer Button {
    font-size: 11px;
}