.Auth {
    margin-top:10px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:90%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 5px;
    box-sizing: border-box;
}
.Auth input{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
    font-family: monospace;
    padding: 10px 5px;
}